<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.google.communityclinic">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!--Splash screen -->
        <activity
            android:name=".Splash"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Main activity -->
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
        </activity>

        <activity
            android:name=".Appointment"
            android:label="@string/appointment" >
        </activity>

        <activity
            android:name=".NewAppointment"
            android:label="@string/new_appointment" >
        </activity>

        <activity
            android:name=".Reminder"
            android:label="@string/reminder" >
        </activity>

        <activity
            android:name=".History"
            android:label="@string/history" >
        </activity>

        <activity
            android:name=".LoginActivity"
            android:label="@string/login">
    </activity>

        <activity
            android:name=".SignupActivity"
            android:label="@string/register_now">

        </activity>

        <activity
            android:name=".AboutUsActivity"
            android:label="@string/about_us">

        </activity>
        <activity
            android:name=".ReportUsActivity"
            android:label="@string/report_us">

        </activity>

    </application>


</manifest>